{% extends 'base.html' %}
{% block contents %}
{% load static %}
<style>
    .slider_area2{
  background-image:url('/static/assets/img/image4.jpg');
  box-shadow:inset 0 0 0 2000px rgba(255, 0, 157, 0.473);
}
</style>
    <main style="margin-top: 200px;">
	<!--? Hero Area Start-->
	<div class="slider-area ">
	    <div class="single-slider slider-height2 d-flex align-items-center slider_area2">
		<div class="container">
		    <div class="row">
			<div class="col-xl-12">
			    <div class="hero-cap text-center">
				<h2 style="color: white;">About Us</h2>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>

	<!-- Hero Area End-->
	<!-- About Details Start -->
	<div class="about-details section-padding30">
	    <div class="container">
		<div class="row">
		    <div class="offset-xl-1 col-lg-8">
			<div class="about-details-cap mb-50">
			  <h4>Our Mission</h4>
			  <p>The mission of the Sparkling Pink Pandas group is to promote inclusivity and safety for trans individuals in society. We strive to create a welcoming and supportive environment where all trans, intersex, and gender-variant people can come together and be celebrated for who they are.
			  </p>
			  <p>
			    We seek to promote greater awareness and understanding of gender diversity in society. We believe that education and advocacy are crucial in creating a more accepting and inclusive world, and we strive to be a voice for the trans community.
			  </p>
			  <p>
			    We believe that to do this we need to help improve access to safety gear for trans folks. We believe that everyone deserves to ride safely and comfortably, and we work to ensure that trans riders have the resources they need to do so.
			  </p>
			  <p>
			    Through community events, group rides, and outreach efforts, we aim to create a space where trans individuals feel supported and valued. We believe that by working together, we can create a more inclusive and just society where everyone can live their lives to the fullest.
			  </p>
			</div>

			<div class="about-details-cap mb-50">
			  <h4>Our Vision</h4>
			  <p>
			    Promote acceptance and safety of transgender people.
			  </p>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<!-- About Details End -->
	<!--? Video Area Start -->
	<div class="video-area mb-100">
	    <div class="container-fluid">
		<div class="row align-items-center">
		    <div class="col-lg-12">
		    <div class="video-wrap">
			<div class="play-btn "><a class="popup-video" href="https://www.youtube.com/watch?v=wQEM9I7WQvs"><i class="fas fa-play"></i></a></div>
		    </div>
		    </div>
		</div>
	    </div>
	</div>
	<!-- Video Area End -->
	<!--? Shop Method Start-->

	<!-- Shop Method End-->
    </main>
    {% endblock %}
